In [26]:
import numpy as np
import pandas as pd

In [27]:
np.random.seed(3)
df = pd.DataFrame(np.random.randint(1,100,size=(4,5)))

In [28]:
df

    0   1   2   3   4
0  25   4  57  73   1
1  22  20  75  42  11
2  22  39  97  21  45
3  94  40  15  27  82

In [30]:
df[4] = df[4].map(lambda x : x *2) 

#람다 적용 가능. 파이썬 식으로 해석해보면, map(function,list)가 되어야 하나 
#이미 df[4] 가 해당 리스트로 작용했다고 생각하면 된다.