### Module
- cx_Oracle
- pandas/numpy

In [1]:
!pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.2.1-cp38-cp38-win_amd64.whl (219 kB)
Installing collected packages: cx-Oracle
Successfully installed cx-Oracle-8.2.1

In [1]:
import cx_Oracle
import pandas as pd
import numpy as np

### Connecting to oracle

In [2]:
dsn = cx_Oracle.makedsn("localhost", 1521, service_name="XE")
connection = cx_Oracle.connect(user="migo", password="admin1234", dsn=dsn,
                               encoding="UTF-8")

#### Getting a cursor, pull data

In [3]:
cur = connection.cursor()

In [4]:
cur.execute("SELECT * FROM CHAT_USER")
lst = []
for i in cur:
    lst.append(i)
    
pd.DataFrame(lst,columns=['UserID','Password'])

   UserID   Password
0  walnut  admin1234
1  almond  admin1234
2   smith  admin1234
3    migo  admin1234
4    khan  admin1234
5  encore  admin1234