### Configuration

In [ ]:
#SparkConnect
"""
./bin/pyspark --conf "spark.mongodb.input.uri=mongodb://127.0.0.1:27017/spark.practice?readPreference=primaryPreferred" --conf "spark.mongodb.output.uri=mongodb://127.0.0.1:27017/spark.practice" --packages org.mongodb.spark:mongo-spark-connector_2.12:3.0.1
              
"""

In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("mongo")\
        .config("spark.mongodb.input.uri","mongodb://127.0.0.1:27017/spark.practice")\
        .config("spark.mongodb.output.uri","mongodb://127.0.0.1:27017/spark.practice")\
        .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
        .getOrCreate()

In [2]:
spark

In [4]:
#load data

path = '../../data/students.csv'
student = spark.read.csv(path,inferSchema=True,header=True)
student.limit(3).toPandas()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

In [3]:
student.printSchema()

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

### Write operation

In [7]:
#write student dataframe to MongoDB database and collection specified in spark.mongodb.output.uri option
student.write.format("mongo").mode("append").save()
#format can be json, parquet...

#### If you want to change DB or Collection for write operation

In [ ]:
# student.write.format("mongo").mode("append").option("database",
# "spark").option("collection", "practice").save()