### Numpy 배열 생성

##### Putting more than one types in a list ( possible )

In [1]:
import numpy as np
import sys
myList =[1,2,3,'4',5,6]
print(myList)
print(type(myList))

[1, 2, 3, '4', 5, 6]
<class 'list'>

##### Putting more than one types in an array (impossible)
(unified as one type. in this case integers are converted into string)

In [2]:
myArr = np.array([1,2,33443423,'4',5])
print(myArr)
print(type(myArr[2]))

['1' '2' '33443423' '4' '5']
<class 'numpy.str_'>

In [3]:
myArr2 = np.array([1,2,3,'4'])
print(myArr2)
print(sys.getsizeof(myArr2[3]))


myArr3 = np.array([1,2,3,5.3])
print(myArr3)
print(sys.getsizeof(myArr2[3])) #자료형을 통일시킨다. 우선순위가 있으며 정수, 실수, 스트링 중 스트링이 가장 우선순위가 높다.

myArr4 = np.array([1,2321312,'4'])
print(myArr4)
print(sys.getsizeof(myArr4[1])) #1번 인덱스에 위치한 값이 더 큰데도 스트링으로 통일되었다.

['1' '2' '3' '4']
82
[1.  2.  3.  5.3]
82
['1' '2321312' '4']
88

##### Specifying types

In [4]:
myArr5 = np.array([1,2,3,4],dtype='float64')

In [5]:
print(myArr5)
print(type(myArr5[3])) #기본타입 float64

[1. 2. 3. 4.]
<class 'numpy.float64'>

### Numpy배열의 속성과 메소드
- **ndim, shape, reshape, size, type, dtype**<br>
  - Attribute로도, method로도 사용가능하다


- Numpy 배열의 타입은 ndarray 클래스이다<br>

In [6]:
A = np.array([[1,2,3],[3,3,1],[1,9,3]])

In [7]:
print(A)
print("A is", A.ndim, "dimenstional array") #몇 차원인가를 리턴. 
print(A.size) # number of elements
print(A.argmax())
print(A.shape) # 몇행 몇열인지 알 수 있다. 
print(A.dtype) 
print(type(A))
print('*'*30)

[[1 2 3]
 [3 3 1]
 [1 9 3]]
A is 2 dimenstional array
9
7
(3, 3)
int32
<class 'numpy.ndarray'>
******************************

##### numpy 배열의 원소타입을 한번에 바꾸기.

In [8]:
myArr

array(['1', '2', '33443423', '4', '5'], dtype='<U11')

In [9]:
myArr_1 = myArr.astype(int) #if it's possible

myArr_1

array([       1,        2, 33443423,        4,        5])

In [10]:
myArr[2] = '9'  #요소를 바꾸고 참조관계가 드대로 유지되어있는지 확인해보자.

In [11]:
print(myArr)
print(myArr_1) #참조관계가 바뀌었다.

['1' '2' '9' '4' '5']
[       1        2 33443423        4        5]

#####  numpy에 arange함수를 적용하고 차원 더하기.

In [12]:
arr1 = np.arange(32) #<-> 파이썬 list(range(32))

In [13]:
arr1.reshape(4,8)

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31]])

In [14]:
arr1.reshape(8,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

### 랜덤함수와 seed값 설정하기

<h6>특정한 시작 숫자를 정해주어서 난수를 발생시키면 고정적인 난수가 발생된다. <br><br>
결과확인 시 시작숫자가 동일하다면 테스트 확인시에 용이하다
</h6>

In [15]:

arr2 = np.random.randn(4,4)
#random이므로 실행할때마다 값이 바뀐다.

In [16]:
arr2

array([[-0.2703008 , -0.46074612, -0.3461773 , -0.26702933],
       [ 1.24132799,  0.74725548, -0.05024084, -1.44451055],
       [-0.97770077, -0.70487365,  0.52004275,  1.47557449],
       [ 0.58583892,  1.3168825 ,  0.3714031 ,  1.63131229]])

In [17]:
np.random.seed(0)
 #씨드는 한번 주면 다음 랜덤에 대해서 고정 난수를 만든다. 
arr3=np.random.randn(4,4)
arr3

array([[ 1.76405235,  0.40015721,  0.97873798,  2.2408932 ],
       [ 1.86755799, -0.97727788,  0.95008842, -0.15135721],
       [-0.10321885,  0.4105985 ,  0.14404357,  1.45427351],
       [ 0.76103773,  0.12167502,  0.44386323,  0.33367433]])

In [20]:
arr4 = np.random.randint(10,20,16).reshape(4,4) # or np.random.randint(10,20,size=(4,4))
arr4

array([[14, 13, 14, 14],
       [18, 14, 13, 17],
       [15, 15, 10, 11],
       [15, 19, 13, 10]])

In [ ]:
#

#### 인덱싱과 조건 슬라이싱

In [ ]:
#1. 논리연산자 사용
print(arr3[arr3>0])
print("---"*30)
print(arr3[arr3<0])

In [ ]:
#2. 0보다 작은 값들을 전부다 0으로 바꿔보자.
arr3[arr3<0] = 0  #this is crazy!
arr3

In [ ]:
#3. where 함수를 적용... 조건부 슬라이싱
np.where(arr3>0,arr3,-1) #ternary operator

np.where(arr3>0.5,arr3*20,arr3*(-20))

#### Important Note!

<h6> It seems numpy takes a shot-gun approach in terms of matching conditional operator. <br>
    
</h6>
Take a look at an example below.

In [ ]:
arr5  =np.arange(1,7).reshape(3,2)
print(arr5)
print(arr5[arr5>2])

In [ ]:
bool_idx = arr5 >2
print(bool_idx)

In [ ]:
arr5[bool_idx]

#### 형변환

In [ ]:
array1 = np.array([1,2,3,4,5,2,3,'8',111,2,3,4,4,1])
array1.dtype

In [ ]:
num_array1 = array1.astype(float) 
print(num_array1)
print(array1)

In [ ]:
arr4

-----------------------------------------------------

#### 인덱싱과 슬라이싱

In [ ]:
#1) 2차원 arr4에서 1행 3열 요소를 가져오자.
print(arr4[0][2])  # 이렇게 접근해도,

print(arr4[0,2])   # 이렇게 접근해도 ok -> [행 index, 열 index]

bb = np.array([[1,2,3,4,5,3],[2,3,6,8,9,1]])

bb[:,1:-1:2]

In [ ]:
#2) 2번째 라인 값을 가져오려면?
print(arr4[1])
print(arr4[1,0:]) #이렇게 해도
print(arr4[1,:])  #이렇게 해도
print(arr4[1,0:4])#이렇게 해도 ok
print(arr4[1:2,:])#- > 이건 2차원 형태 유지.

In [ ]:
#3) 전체 행에 대해서 4번째 열을 다 가지고 온다?
print(arr4)
print(arr4[0:,3]) #1차원형
print(arr4[:,3]) #1차원형

print(arr4[:,3:]) #2차원형
print(arr4[0:,3:4]) #2차원형

In [ ]:
#4) 전체 행에 대해서 1,2 열을 가지고 온다.
print(arr4[:,:2])

#5) 전체 행에서 1,3열을 가지고 온다?
print(arr4[:,::2]) #파이썬에서의 논리와 같이, 두 칸 뛰기 가능.

### 통계함수
- Pandas에서 디테일하게 다루기 때문에 간단하게 정리.
- sum, mean, std, min, max,argmax,argmin,cumsum
 - argmax : 배열 중 최고값인 원소의 인덱스 
 - argmin : 배열 중 최저값인 원소의 인덱스
 - cunsum : 누적합

In [ ]:
x = np.array([[1,2],[3,4]])
print(x.sum()) #or
print(np.sum(x))
print('--'*20)
print(x)
print(np.sum(x, axis=0)) #각 행들의 '같은 열에 있는 값들'을 합쳐서 리턴, 즉 모든 행'들'을 더한다.
print(np.sum(x, axis=1)) #각 행들에 있는 모든 열을 합쳐서 리턴.

In [ ]:
print(arr4)

In [ ]:
print(arr4.sum())
print(arr4.sum(axis=0)) #결과값 네개, 45,51 .... 
print(arr4.sum(axis=1)) #결과값 네개, 54 .... 

print(np.cumsum(arr4,axis=0)) #누적합. 행기준 이동
print(np.cumsum(arr4,axis=1)) #누적합, 열기준 이동

In [ ]:
print(np.argmax(arr4,axis=0))  #같은 열에 있는 모든 행들에서 최고 값인 것의 행 인덱스 번호
print(np.argmax(arr4,axis=1))  #같은 행에 있는 모든 열들에서 최고 값인 것의 열 인덱스 번호

In [ ]:
prac = np.random.randint(0,2,100).reshape(10,10)
prac = np.where(prac==0,-1,prac)

#첫번째 10칸의을 했을때 음수에 위치하는가 양수에 위치하는가?
prac[0].cumsum()[-1] #or prac[0].sum()

In [ ]:
np.argmax([prac.cumsum()>3])

#### Concatenation

In [ ]:
array = np.array([1,2])
array2 = np.array([1,2])
print(np.concatenate((array,array2),axis=0)) #x축 기준 합치기.

array3 = np.concatenate((array,array2),axis=0).reshape(2,2)
print(array3)

array4 = (np.concatenate((array3,array3),axis=0))
array4